.main-games{
    min-height: 50vw;
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; */
}
  