.square{
    width: 100px;
    height: 100px;
    background: wheat;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover{
    background: rgb(228, 151, 151);
    transition: .3s all ease;
}